.card {
    border: 6px solid rgb(25, 25, 133);
    margin: 0 auto;
}
.cont-a {
    background-color: rgb(241, 241, 241);
}
.btnSlide {
    background-color: rgb(190, 183, 251);
}
.cont-b {
    border: 1px dashed black;
}

